<!-- nav bar -->
<ng-include src="'app/views/userNavbar.view.html'"></ng-include>

<!-- job posting -->
<div class="jobs-main-div">
  <div class="jobs" ng-controller="JobCtrl" data-ng-init="getAllJobs()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Jobs</h4>
      </div>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="job in jobs | orderBy:'datePosted':true">
          <div class="job-list-top clearfix">
            <div class="job-list-left">
              <p class="job-title text-capitalize"><a ng-click="getJob(job._id)" href="#">{{job.title}}</a></p>
            </div>
            <div class="job-list-right">
              <p class="job-date text-capitalize">{{job.agricType}} Farming</p>
            </div>
          </div>
          <p class="list-group-item-text text-capitalize">{{job.farmName}}</p>
          <div class="job-list-down clearfix">
            <div class="job-list-left">
              <p class="job-location text-capitalize"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{job.location}}</p>
            </div>
            <div class="job-list-right">
              <p class="job-date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{job.datePosted | calendar}}</p>
            </div>
          </div>
        </div>
      <!--   <div class="text-center">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>
