<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Farm Place</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="main-nav nav navbar-nav navbar-right">
      </ul>
    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>


<div class="recovery-main-div">
  <div class="recovery-block">
    <h3>Forgot Your Password?</h3>
    <p>We will send you a link to help you reset your password.</p>
    <div class="alert alert-danger collapse" id="error">
      <strong>{{error}}</strong>
    </div>
    <div class="alert alert-success collapse" id="success">
      <strong>{{success}}</strong>
    </div>
    <form role="form">
      <div class="form-group">
        <input type="email" class="form-control" ng-model="user.email" placeholder="Enter your email address.">
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <a href="#" id="signupin-but" ng-click="forgotPassword()" class="btn btn-default mbc btn-block">Send Link To My Email</a>
        </div>
      </div>
    </form>
  </div>
</div>