<div class="top-header">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Farm Place</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <!-- <li><p class="navbar-btn"><a href="/foSignup" class="btn btn-primary">Farm Owners</a></p></li>
            <li><a id="drop3" class="dropdown-toggle" data-toggle="dropdown" role="button">Sign In/Sign Up <span class="caret"></span> </a>
              <ul class="dropdown-menu" aria-labelledby="drop3">
                <form class="navbar-form">
                  <div class="form-group">
                    <input ng-model="user.username" class="form-control" placeholder="Username" type="text">
                  </div>
                  <div class="form-group">
                    <input ng-model="user.password" class="form-control" placeholder="Password" type="password">
                  </div>
                  <div class="form-group">
                    <a href="#">Forgot password?</a>
                  </div>
                  <button type="submit" ng-click="login()" class="btn btn-primary btn-block">Sign In</button>
                  <hr>
                  <p>New To Farmplace?</p>
                  <a href="/signup" class="btn btn-default btn-block">Sign Up For Farm Place</a>
                </form>
              </ul>
            </li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
</div>

<!-- sign in -->
<div class="container">
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <div class="well">
      	<h4>Sign In</h4>
        <form role="form">
          <div class="form-group">
            <input type="email" class="form-control" ng-model="fo.email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-model="fo.password" placeholder="Password">
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <a href="#">Forgot Password?</a>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12 col-md-12"><a href="#" ng-click="farmOwnerLogin()" class="btn btn-primary btn-block">Sign In</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- sign up -->
<div class="container">
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <div class="well">
      	<h4>Sign Up</h4>
        <form role="form">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="newFo.firstname" placeholder="First Name">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="newFo.lastname" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
            		<input type="email" class="form-control" ng-model="newFo.email" placeholder="Email Address">
          		</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="tel" class="form-control" ng-model="newFo.phoneno" placeholder="Phone Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" class="form-control" ng-model="newFo.password" placeholder="Password">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password">
              </div>
            </div>
          </div>

          <hr>

          <div class="form-group">
            <input type="text" class="form-control" ng-model="newFo.farmName" placeholder="Farm Name">
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="newFo.typeOfAgric" placeholder="Agric Type">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="number" class="form-control" ng-model="newFo.numOfEmployees" placeholder="Number of Employees">
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" ng-model="newFo.address" placeholder="Address">
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <input list="states" class="form-control" ng-model="newFo.state" placeholder="State">
              <datalist id="states">
                <option>Outside Nigeria</option>
                <option>Abia</option>
                <option>Adamawa</option>
                <option>Akwa Ibom</option>
                <option>Anambra</option>
                <option>Bauchi</option>
                <option>Bayelsa</option>
                <option>Benue</option>
                <option>Borno</option>
                <option>Cross River</option>
                <option>Delta</option>
                <option>Ebonyi</option>
                <option>Edo</option>
                <option>Ekiti</option>
                <option>Enugu</option>
                <option>Federal Capital Territory</option>
                <option>Gombe</option>
                <option>Imo</option>
                <option>Jigawa</option>
                <option>Kaduna</option>
                <option>Kano</option>
                <option>Katsina</option>
                <option>Kebbi</option>
                <option>Kogi</option>
                <option>Kwara</option>
                <option>Lagos</option>
                <option>Nassarawa</option>
                <option>Niger</option>
                <option>Ogun</option>
                <option>Ondo</option>
                <option>Osun</option>
                <option>Oyo</option>
                <option>Plateau</option>
                <option>Rivers</option>
                <option>Sokoto</option>
                <option>Taraba</option>
                <option>Yobe</option>
                <option>Zamfara</option>
              </datalist>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="newFo.website" placeholder="Website">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#">Terms and Conditions</a> set out by this site, including our Cookie Use.
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12 col-md-12"><a href="#" ng-click="farmOwnerSignup()" class="btn btn-primary btn-block">Sign Up</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>