<!-- nav bar -->
<ng-include src="'app/views/navbar.view.html'"></ng-include>

<!-- job posting -->
<div class="row jobs">
  <div class="col-md-5 col-md-offset-2 col-sm-6 col-sm-offset-1 col-xs-10 col-xs-offset-1" ng-controller="JobCtrl" data-ng-init="getJob()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Jobs</h4>
      </div>
      <div class="">

      	<p>jfkglhjjkchfjgxfchvjhk</p>

      </div>
    </div>
  </div>

  <!-- features -->
  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5>Featured Companies</h5></div>
      <div class="panel-body">
        <div class="list-group">
          <a href="" class="list-group-item">Modal Farms</a>
          <a href="" class="list-group-item">Blog Farms</a>
          <a href="" class="list-group-item">Data Farms</a>
        </div>
      </div>
    </div>
  </div>
</div>
