<div class="top-header">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo">
            <h3><a href="/#/"> <img src="../../assets/images/123.png">Farm Place</a></h3>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/#/">Home</a></li>
            <li><a class="scroll" href="#content">About</a></li>
            <li><a class="scroll" href="#footer">Contact</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
</div>
<div class="header-slider">
  <div class="slider">
    <div class="callbacks_container">
      <ul class="rslides" id="slider">
        <div class="slid banner1">
          <div class="overlay"></div>
          <div class="caption">
            <h3>Find agricultural internships and trainings around you</h3>
            <p>Launching soon...</p>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<!-- about -->
<div id="content" class="content">
  <div id="services" class="services">
    <div class="container">
      <div class="service-info">
        <h3>About</h3>
        <p>FarmPlace is an agriculture opportunity hub for unemployed youths with keen interest in agribusiness. FarmPlace recruits and trains graduates in different agricultural ventures and proper farm business management practices to equip them with skills to start and operate a profitable agribusiness. 
        FarmPlace partners with companies to provide grants and support to Fellows of FarmPlace to explore untapped agricultural opportunities. FarmPlace aims to tackle problem of food security and reducing unemployment by grooming youths interested in agribusiness.</p>
      </div>
      <div class="specialty-grids-top">
        <div class="col-md-4 service-box" style="visibility: visible; -webkit-animation-delay: 0.4s;">
          <figure class="icon">
            <span class="glyphicon3 glyphicon-screenshot" aria-hidden="true"></span>
          </figure>
          <h5>Connect</h5>
          <p>This will be a hub to connect young people to agricultural internships and trainings so as to gain hands-on experience.</p>
        </div>
        <div class="col-md-4 service-box wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
          <figure class="icon">
            <span class="glyphicon3 glyphicon-education" aria-hidden="true"></span>
          </figure>
          <h5>Educate</h5>
          <p>Farmplace.com.ng will also serve as a hub to educate and enlighten young people about the positives of agriculture as a business.</p>
        </div>
        <div class="col-md-4 service-box wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
          <figure class="icon">
            <span class="glyphicon3 glyphicon-euro" aria-hidden="true"></span>
          </figure>
          <h5>Finance</h5>
          <p>Crowdsourced funds will be used to give grants to intending farmers that must have undergone trainings using the platform.</p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<div id="footer" class="footer">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-6 ftr-grid1">
        <h4>Contact</h4>
        <div class="address">
          <p>Tel: +2348067304318
            <span></span> Email: <a href="mailto:example@email.com">tobi@farmplace.com.ng</a></p>
        </div>
      </div>
      <div class="col-md-6 news-ltr" ng-init="expression">
        <h4>Newsletter</h4>
        <p>Please, enter your email below to be updated when we launch.</p>
        <form>
          <input ng-model="sub.email" type="text" id="subemail" placeholder="Email" ng-required="true">
          <input type="submit" ng-click="subscribe()" value="Subscribe">
          <div class="clearfix"></div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
