<div class="wrapper">
  <div class="overlay">
    <div class="top-header">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Farm Place</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a id="drop3" class="dropdown-toggle" data-toggle="dropdown" role="button">Sign In/Register <span class="caret"></span> </a>
                  <ul class="dropdown-menu" aria-labelledby="drop3">
                    <form class="navbar-form">
                      <div class="form-group">
                        <input class="form-control" placeholder="Email" type="text">
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="Password" type="password">
                      </div>
                      <div class="form-group">
                        <a href="#">Forgot password?</a>
                      </div>
                      <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                      <a href="/signup" class="btn btn-primary btn-block">Register For Farm Place</a>
                    </form>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="sub-section">
  <div class="container">
    <h1>About</h1>
    <p>FarmPlace is an agriculture opportunity hub for unemployed youths with keen interest in agribusiness. FarmPlace recruits and trains graduates in different agricultural ventures and proper farm business management practices to equip them with skills to start and operate a profitable agribusiness. FarmPlace partners with companies to provide grants and support to Fellows of FarmPlace to explore untapped agricultural opportunities. FarmPlace aims to tackle problem of food security and reducing unemployment by grooming youths interested in agribusiness.</p>
  </div>
</div>