<nav class="navbar navbar-default navbar-fixed-top" ng-controller="SearchCtrl">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Farm Place</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="main-nav nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control nav-search-form" size="30" ng-model="term.title" placeholder="Job Title">
          </div>
          <button ng-click="navsearch()" class="btn nav-button signup">Search</button>
        </form>
      </ul>
    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>

