<!-- nav bar -->
<ng-include src="'app/views/foNavbar.view.html'"></ng-include>

<div class="jb-main-div">
  <div class="jb-block">
    <h4>Post A New Internship</h4>
    <form role="form">
      <div class="form-group">
        <select class="form-control">
          <option>AgricType</option>
          <option>Arable</option>
          <option>Livestock</option>
          <option>Mixed</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="user.username" placeholder="Job Title">
      </div>
      <div class="form-group">
        <select class="form-control">
          <option>Location</option>
            <option>Abia</option>
            <option>Adamawa</option>
            <option>Akwa Ibom</option>
            <option>Anambra</option>
            <option>Bauchi</option>
            <option>Bayelsa</option>
            <option>Benue</option>
            <option>Borno</option>
            <option>Cross River</option>
            <option>Delta</option>
            <option>Ebonyi</option>
            <option>Edo</option>
            <option>Ekiti</option>
            <option>Enugu</option>
            <option>Federal Capital Territory</option>
            <option>Gombe</option>
            <option>Imo</option>
            <option>Jigawa</option>
            <option>Kaduna</option>
            <option>Kano</option>
            <option>Katsina</option>
            <option>Kebbi</option>
            <option>Kogi</option>
            <option>Kwara</option>
            <option>Lagos</option>
            <option>Nassarawa</option>
            <option>Niger</option>
            <option>Ogun</option>
            <option>Ondo</option>
            <option>Osun</option>
            <option>Oyo</option>
            <option>Plateau</option>
            <option>Rivers</option>
            <option>Sokoto</option>
            <option>Taraba</option>
            <option>Yobe</option>
            <option>Zamfara</option>
        </select>
      </div>
      <div class="form-group">
        <input type="date" class="form-control">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="8" placeholder="Job Description"></textarea>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <a href="#" id="signupin-but" ng-click="userLogin()" class="btn btn-default btn-block">Post</a>
        </div>
      </div>
    </form>
  </div>
</div>