/*LANDING PAGE*/
/*navbar*/
.navbar{
  margin-bottom: 0px;
}
.navbar-default {
  background-image: none;
  background-color: #fff;
  background-repeat: repeat-x;
  border-radius: 4px;
  box-shadow: none;
}
.navbar-default .navbar-nav > li > a {
  color: #506A85;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-default .navbar-nav > li > a::after {
  background-color: #008000;
  bottom: -2px;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease 0s;
  width: 0%;
}
.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > li .links {
  padding-left: 20px;
  padding-right: 20px;
}
.lastlink {
  padding-right: 16px;
}
.nav-button {
  margin-top: 2px;
  border: medium none;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav-button.signup{
  background-color: #008000;
  color: #fff;
  margin-right: 5px;
}
.nav-button.log-in{
  background-color: #fff;
  color: #506A85;
}
.nav-button:hover{
  background: #28a328;
  color: #fff;
}
#navbarbtn {
  padding: 0 2px;
}
.navbar-right .dropdown-menu .form-control {
  width: 90%;
  margin: auto;
  margin-top: 7px;
}
.navbar-right .dropdown-menu .log-in {
  margin-top: -5px;
  background-color: #008000;
  border: medium none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
}
.navbar-right .dropdown-menu .log-in:hover {
  background-color: #28a328;
}

/*slider*/
.slider-area{
  position: relative;
  height: 630px
}
#bg-slider .item img{
  width: 100%;
  height: 650px;
}
.slider-content{
  position: absolute;
  top:20%;
  left: 50%;
  margin-left: -585px;
  text-align: center;
  color: #fff
}
.slider-content h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.slider-content p {
  font-size: 18px;
  margin-bottom: 60px;
}
.slider .owl-theme .owl-controls {
  margin-top: 0px;
  position: relative;
  text-align: center;
}
.slider .owl-pagination {
  bottom: 280px;
  position: absolute;
  right: 10px;
  width: 40px;
}
.slider .owl-theme .owl-controls .owl-page span{
  background: #fff
}
.search-form {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 0;
}
.form-inline .form-control, .form-inline .form-control {
  background: none repeat scroll 0 0 #eeeeee;
  border-radius: 1px;
  color: #333;
  font-style: italic;
  height: 40px;
  margin-right: 10px;
  width: 195px;
}
.form-inline button{
  background-color: #008000;
  border: medium none;
  color: #fff;
  height: 40px;
  width: 90px;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.form-inline button:hover{
  background-color: #28a328;
  color: #fff;
}

/*about*/
.page-title {
  padding-top: 70px;
}
.page-title h2 {
  color: #506A85;
  font-size: 25px;
  font-weight: 800;
  margin-top: 5px;
  text-transform: uppercase;
}
.page-title h2 span {
  color: #00ADEF
}
.page-title p {
  color: #666666;
  font-size: 20px;
  line-height: 30px;
  padding: 0 25%;
  margin-top: 16px;
}
.how-it-work{
  margin: 40px 0 80px
}
.single-work{
  padding: 50px 0 70px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #008000
}
.single-work h3{
  color: #506A85;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.single-work p {
  color: #666666;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  padding: 0 37px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.single-work.active {  
  background: #008000
}
.single-work.active h3{
  color: #fff
}
.single-work.active p{
  color: #eeeeee
}
.single-work:hover{
  background: #008000
}
.single-work:hover h3{
  color: #fff
}
.single-work:hover p{
  color: #eeeeee
}

/*sponsor*/
.wantto-section{
  padding-bottom:4em;
  text-align:center;
}
.wantto-section h4 {
  font-size: 2.5em;
  font-weight: 600;
  color: #506a85;
}
.wantto-section p {
  color: #666666;
  font-size: 20px;
  line-height: 30px;
  padding: 0 25%;
  margin-top: 16px;
}
.wantto-section button {
  background-color: #008000;
  border: medium none;
  color: #fff;
  height: 32px;
  width: 75px;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wantto-section button:hover{
  background: #28a328;
  color: #fff;
}

/*footer*/
.footer-area{
  background: #506a85;
  border-top: 4px solid #008000;
}
.footer{
  padding: 0px 0 10px 0;
}
.single-footer{
  margin-top: 30px
}
.single-footer p{
  color: #fff;
  line-height: 26px;
}
.single-footer h4{
  color: #fff;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px
}
.single-footer h5{
  color: #fff;
  margin-top: 20px;
  font-weight: 700;
}
.single-footer a{
  color: #fff;
}
.single-footer ul li{
  margin-bottom: 10px
}
.single-footer ul li a{
  color: #fff;
  font-weight: 700;
}
.single-footer ul li a:hover{
  color: #008000;
  text-decoration: none;
}

/*SIGNUP AND LOG IN PAGES*/
.formdiv {
  margin-top: 80px;
}
.well {
  background-color: #f0f0f0;
}
.label {
  background-color: #506A85;
}
.terms {
  color: #506A85;
}
.signupin-div {
  margin-top: 17px;
}
.terms:hover {
  text-decoration: none;
  color: #506A85;
}
#signupin-but {
  background-color: #008000;
  border: medium none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#signupin-but:hover {
  background-color: #28a328;
}
.quest {
  text-align: center;
}


/*DASHBOARD PAGE*/

.nav-search-form {
  height: 30px;
  margin-top: 2px;
}
.jobs {
  padding-top: 100px;
}
.search-details-left {
  float: left;
}
.search-details-right {
  float: right;
}
.search-details-down {
  margin-top: 13px;
}
.job-title {
  font-weight: bold;
  font-size: 20px;
}
.job-ttl {
  color: #008000;
}
.glyphicon {
  color: #008000;
}

/*JOB DETAILS PAGE*/
/*jobdet means job details*/

.mother-grid{
  width: 80%;
  margin: 0em auto 0em;
  padding: 2em 0em;
  padding-top: 100px;
}
.mother-grid h2 {
  color: #008000;
}
.block-3 {
  margin-top: 3em;
}

.block-3-left {
  float: left;
  width: 63%;
}
.block-rit-btn a {
  background:#a249b5;
  font-size: 0.95em;
  color: #fff;
  padding: 0.5em 1em;
  display: inline-block;
  border-radius: 5px;
  margin-top: 2em;
}
.block-rit-btn a:hover {
  background:#fc7fa3;
}
.block-3-right {
  float: right;
  width: 35%;
  text-align: center;
  border-radius: 5px;
  padding: 1em 2em;
  background:#FFFFFF;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15);
}
.jobdet-img {
    background: url(../../assets/img/2.jpg)no-repeat center;
    background-size: cover;
    min-height: 360px;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px ;
    -moz-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
}
.jobdet-text h1 {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
}
.jobdet-text {
    background: #fff;
    padding: 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius:0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
    border-bottom: 3px solid #e3e4e8;
}
.jobdet-text p {
    font-size: 15px;
    line-height: 30px;
}
.jobdet-comments {
  margin-top: 2em;
}
.jobdet-left {
  float: left;
  width: 80%;
}
.jobdet-right {
  float: right;
  width: 20%;
  text-align: right;
}
.jobdet-left ul {
  padding: 0px;
}
.jobdet-left li {
  list-style: none;
  display: inline-block;
}
.jobdet-left .farm-type {
  padding-right: 13px;
}
.jobdet-left .date {
  padding-left: 15px;
}




/*--media quores strat here--*/

@media(max-width:1280px){

.jobdet-text h1 {
    font-size: 1.25em;  
}
/*.block-3-right {
    padding: 3em 2em;
}*/

}
@media(max-width:1024px){
.mother-grid {
    width: 90%; 
}
.jobdet-text h1 {
    font-size: 1.2em;
}
.jobdet-img {
    min-height: 330px;
}

}
@media(max-width:768px){
.block-3-right {
    float: none;
    width: 100%;
}
.block-3-left {
    float: none;
    width: 100%;
    margin-bottom: 1.5em;
}
.block-3 {
    margin-top: 1.5em;
}

}

@media(max-width:667px){
.anky-middle ul li {
    width: 32.2%;
}
.anky-middle span.anky-bar-1 {
    left: 92px;
}
.anky-middle span.anky-bar-2 {
    right: 92px;
}
}


@media(max-width:480px){
.jobdet-img {
    min-height: 215px;
}
.jobdet-text {
    padding: 1em;
}
.jobdet-text h1 {
    font-size: 1em;
}
.jobdet-comments {
    margin-top: 1em;
}
.block-3-right {
    padding: 2em 2em;
}

}

