/*LANDING PAGE*/
/*navbar*/
.navbar{
  margin-bottom: 0px;
}
.navbar-default {
  background-image: none;
  background-color: #fff;
  background-repeat: repeat-x;
  border-radius: 4px;
  box-shadow: none;
}
.navbar-default .navbar-nav > li > a {
  color: #506A85;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-default .navbar-nav > li > a::after {
  background-color: #33cc33;
  bottom: -2px;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease 0s;
  width: 0%;
}
.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > li .links {
  padding-left: 20px;
  padding-right: 20px;
}
.lastlink {
  padding-right: 16px;
}
.nav-button {
  margin-top: 2px;
  border: medium none;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav-button.signup{
  background-color: #33cc33;
  color: #fff;
  margin-right: 5px;
}
.nav-button.signin{
  background-color: #fff;
  color: #506A85;
}
.nav-button:hover{
  background: #28a328;
  color: #fff;
}
#navbarbtn {
  padding: 0 2px;
}
/*.navbar-right .dropdown-menu {
  right: 60px;
  width: 250px;
  margin-top: 0;
  height: 145px;
}*/
.navbar-right .dropdown-menu .form-control {
  width: 90%;
  margin: auto;
  margin-top: 7px;
}
.navbar-right .dropdown-menu .signin {
  margin-top: -5px;
  background-color: #33cc33;
  border: medium none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
}
.navbar-right .dropdown-menu .signin:hover {
  background-color: #28a328;
}

/*slider*/
.slider-area{
  position: relative;
  height: 630px
}
#bg-slider .item img{
  width: 100%;
  height: 650px;
}
.slider-content{
  position: absolute;
  top:20%;
  left: 50%;
  margin-left: -585px;
  text-align: center;
  color: #fff
}
.slider-content h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.slider-content p {
  font-size: 18px;
  margin-bottom: 60px;
}
.slider .owl-theme .owl-controls {
  margin-top: 0px;
  position: relative;
  text-align: center;
}
.slider .owl-pagination {
  bottom: 280px;
  position: absolute;
  right: 10px;
  width: 40px;
}
.slider .owl-theme .owl-controls .owl-page span{
  background: #fff
}
.search-form {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 0;
}
.form-inline .form-control, .form-inline .form-control {
  background: none repeat scroll 0 0 #eeeeee;
  border-radius: 1px;
  color: #333;
  font-style: italic;
  height: 40px;
  margin-right: 10px;
  width: 195px;
}
.form-inline button{
  background-color: #33cc33;
  border: medium none;
  color: #fff;
  height: 40px;
  width: 90px;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.form-inline button:hover{
  background-color: #28a328;
  color: #fff;
}

/*about*/
.page-title {
  padding-top: 70px;
}
.page-title h2 {
  color: #506A85;
  font-size: 25px;
  font-weight: 800;
  margin-top: 5px;
  text-transform: uppercase;
}
.page-title h2 span {
  color: #00ADEF
}
.page-title p {
  color: #666666;
  font-size: 20px;
  line-height: 30px;
  padding: 0 25%;
  margin-top: 16px;
}
.how-it-work{
  margin: 40px 0 80px
}
.single-work{
  padding: 50px 0 70px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #33cc33
}
.single-work h3{
  color: #506A85;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.single-work p {
  color: #666666;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  padding: 0 37px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.single-work.active {  
  background: #33cc33
}
.single-work.active h3{
  color: #fff
}
.single-work.active p{
  color: #eeeeee
}
.single-work:hover{
  background: #33cc33
}
.single-work:hover h3{
  color: #fff
}
.single-work:hover p{
  color: #eeeeee
}

/*sponsor*/
.wantto-section{
  padding-bottom:4em;
  text-align:center;
}
.wantto-section h4 {
  font-size: 2.5em;
  font-weight: 600;
  color: #506a85;
}
.wantto-section p {
  color: #666666;
  font-size: 20px;
  line-height: 30px;
  padding: 0 25%;
  margin-top: 16px;
}
.wantto-section button {
  background-color: #33cc33;
  border: medium none;
  color: #fff;
  height: 32px;
  width: 75px;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wantto-section button:hover{
  background: #28a328;
  color: #fff;
}

/*footer*/
.footer-area{
  background: #506a85;
  border-top: 4px solid #33cc33;
}
.footer{
  padding: 0px 0 10px 0;
}
.single-footer{
  margin-top: 30px
}
.single-footer p{
  color: #fff;
  line-height: 26px;
}
.single-footer h4{
  color: #fff;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px
}
.single-footer h5{
  color: #fff;
  margin-top: 20px;
  font-weight: 700;
}
.single-footer a{
  color: #fff;
}
.single-footer ul li{
  margin-bottom: 10px
}
.single-footer ul li a{
  color: #fff;
  font-weight: 700;
}
.single-footer ul li a:hover{
  color: #33cc33;
  text-decoration: none;
}

/*SIGNUP AND SIGNIN PAGES*/
.formdiv {
  margin-top: 80px;
}
.well {
  background-color: #f0f0f0;
}
.label {
  background-color: #506A85;
}
.terms {
  color: #506A85;
}
.signupin-div {
  margin-top: 17px;
}
.terms:hover {
  text-decoration: none;
  color: #506A85;
}
#signupin-but {
  background-color: #33cc33;
  border: medium none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#signupin-but:hover {
  background-color: #28a328;
}
.quest {
  text-align: center;
}


/*DASHBOARD PAGE*/

.nav-search-form {
  height: 30px;
  margin-top: 2px;
}
.jobs {
  padding-top: 100px;
}
.search-details-left {
  float: left;
}
.search-details-right {
  float: right;
}
.search-details-down {
  margin-top: 13px;
}
.job-title {
  font-weight: bold;
  font-size: 20px;
}
.job-ttl {
  color: #506a85;
}
.glyphicon {
  color: #99e599;
}

